body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 2;

}

.main-login-page .nav-main {
display: none !important;
}
.main-login-page footer{
    display: none!important;
}
.mt-165{
    margin-top: 165px;
}
.pt-80{
    padding-top: 80px;
}